*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --header-height:4.5rem;
   
    --hue: 159;
 
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hye) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98% );
    --body_color: hsl(0 0% 98%);
 }




#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;

    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body_color);
}



img {
    width: 42%;
    height: auto;
}


nav {
    height: var(--header-height);
    display: flex;
    align-items:center;
    justify-content: space-between;
}


.container {
    width:100%; 
   margin-left: 1.5rem;
   margin-right: 1.5rem;
}


.section {
    padding: 5rem 0;
}


a{
    text-decoration: none;
}

body {
    font: 400 1rem "DM Sans", sans-serif;
}





h1 {
    font: 700 1.875rem 'Poppins', sans-serif;
    color: var( --title-color);
    background: var( --body_color);
    -webkit-font-smoothing: antialiased;
}


main {
    margin-top: var(--header-height);
}




.logo {
    font: 700 1.31rem 'Poppins', sans-serif;
}


.logo span{
    color:var(--title-color);
    color: rgb(37, 191, 23);
}


#home {
    overflow: hidden;
}

#home .container {
    margin: 0;
    
}
.grid{
    display: grid;
    gap:2rem;
}

#home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#home .image img{
    position: relative;
    right: 2.93rem;
}

#home .image img,
#home .image::before{
    border-radius: 0.25rem;
}




#home .image::before {
    content:' ';
height: 110%;
width: 44%;
background-color: var(--base-color);
position: absolute;
top: -16.8%;
left: 9.7%;
z-index: 0;
}

#home .image{
position: relative;
right: 2.93rem;
}



#home .text p{
margin-bottom: 2rem;
max-width: 100%;
}





#home .text h1 {
   margin-bottom: 1rem; 
}






.button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem "DM Sans", sans-serif;
    transition: background 0.3;
}



.button:hover {
    background: var(--base-color-alt);

}




.divider-1{
    height: 1px;
    background: Linear-gradient(
        270deg,
        hsl(var(--hue),  36%, 57%, 1) 0%,
        hsla(var(--hue), 65%, 88%, 0.34) 100%);    
}
